.event{
    margin: 7.5vw;
    padding-bottom: 10px; 
    width: 85vw;
}
.poster{
    margin-top: 5vw;
    height: 30vw;
    width: 80vw;
    border: 1px solid black;

}

.event-info{
    margin-top: 50px;
    margin-bottom: 50px;
}
h3{
    font-size: 26px;
}
.cse{
    display: none;
}
.reg-form{
    width: 64vw;
    margin-left: 17%;
    margin-right: 17%; 
    display: none;
}
.memo1{
    width: 90vw;
    margin: 5vw;
}
@media screen and (max-width: 420px){
    .reg-form{
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 420px){
    .memo{
        display: inline-flex;
    }
    .memo1{
        width: 40vw;
        margin: 5vw;
    }
}