.event{
    margin: 10vw;
    border-bottom: 1px solid black;
}
.poster{
    margin-top: 50px;
    height: 30vw;
    width: 80vw;
    border: 1px solid black;
    border-radius: 5px;
}
.event-info{
    margin-top: 50px;
    margin-bottom: 50px;
}
h3{
    font-size: 26px;
}
.cse{
    display: none;
}
.reg-form{
    width: 64vw;
    margin-left: 17%;
    margin-right: 17%; 
    display: none;
}
@media screen and (max-width: 420px){
    .reg-form{
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
}