.menu-close{
    padding: 1vw;
    margin: 1vw;
}
.reg{
    width: 30vw;
    margin-left: 30vw;
    margin-right: 30vw;
}
.event{
    margin: 0;
    padding-bottom: 10px; 
    width: 85vw;
    padding-top: 2vw;
}
.poster{
    margin-top: 1vw;
    height: 40vw;
    width: 80vw;
    border: 1px solid black;
    margin-left: 5vw;
    margin-right: 5vw;

}

.event-info{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 6vw;
}
h3{
    font-size: 26px;
}
.cse,.ece,.civ,.mec{
    display: none;
}
.reg-form{
    width: 70vw;
    margin-left: 10vw;
    margin-right: 10vw; 
    display: none;
}
.memo1{
    width: 90vw;
    margin: 5vw;
}
@media screen and (max-width: 420px){
    .reg-form{
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 420px){
    .memo{
        display: inline-flex;
    }
    .memo1{
        width: 40vw;
        margin: 5vw;
    }
}
.play{
    border-top: 1px solid black;
}
