.event{
    margin: 5vw;
    border-bottom: 1px solid black;
}
.poster{
    margin-top: 50px;
    height: 30vw;
    width: 90vw;
}
.event-info{
    margin-top: 50px;
    margin-bottom: 50px;
}
h3{
    font-size: 26px;
}
.cse{
    display: none;
}