
.navbar{
  background: aqua;
  height: 70px;
  width: 100vw;
  position: fixed;
}
.logo{
  float: left;
  display: block;
  padding: 20px;
}
.menu{
  float: right;
  display: block;
  padding: 20px;
}
.x{
  float: right;
  display: none;
  padding: 20px;
}
.menu-icon{
  height: 5vw;
  width: 5vw;
}
.menu-close{
  height: 5vw;
  width: 5vw;
}
a{
  text-decoration: none;
}
.op1{
    display: none;
  }
.op2{
    display: none;
  }
.op3{
    display: none;
  }
footer{
    display: inline-block;
    height: 20vw;
    width: 100vw;
    background: aqua;
}
.foot{
    padding-top: 20px;
}
img{
  width: 100vw;
}