body{
  margin: 0;
  padding: 0;
}
.navbar{
  background: rgb(219, 160, 32);
  height: 20vw;
  width: 100vw;
  position: sticky;
}
.logo{
  float: left;
  display: block;
  padding: 20px;
  font-size: 26px;
  font-weight: bolder;
}
.menu{
  float: right;
  display: block;
  padding: 20px;
}
.x{
  float: right;
  display: none;
  padding: 20px;
}
.menu-icon{
  height: 5vw;
  width: 5vw;
}
.menu-close{
  height: 5vw;
  width: 5vw;
}
.icon{
  height: 6vw;
  width: 6vw;
  vertical-align: middle;
}
a{
  text-decoration: none;
}
.op1{
    font-size: 25px;
    display: none;
    font-weight: bold;
  }
.op2{
    font-size: 25px;
    display: none;
    font-weight: bold;
  }
.op3{
    font-size: 25px;
    display: none;
    font-weight: bold;
  }
.content{
      padding: 10px;
  }
footer{
    display: inline-block;
    height: 10vw;
    width: 100vw;
    background: rgb(219, 160, 32);
}
.foot{
    padding-top: 20px;
}
button{
  width: 15vw;
  height: 5vw;
  margin: 20px;
}
.dept{
text-justify: center;
}
.pubg{
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  padding:3px;
  margin: 7px;
}
#pubg-img{
  border-radius: 10px;
}
.games{
  display: inline-flex;
}
.reg{
  width: 10vw;
  height: 5vw;
}
h5{
  text-align: center;
}