body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: rgba(207, 195, 181, 0.61);
}
.navbar{
  background: rgb(219, 160, 32);
  height: 20vw;
  width: 100vw;
  position: sticky;
}
.logo{
  float: left;
  display: block;
  padding: 20px;
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}
.menu{
  float: right;
  display: block;
  padding: 20px;
}
.x{
  float: right;
  display: none;
  padding: 20px;
}
a{
  color: black
}
.menu-icon{
  height: 5vw;
  width: 5vw;
}
.menu-close{
  height: 5vw;
  width: 5vw;
}
.icon{
  height: 10vw;
  width: 10vw;
  vertical-align: middle;
}
a{
  text-decoration: none;
}
.op1{
    font-size: 20px;
    display: none;
    font-weight: bold;
  }
.op2{
    font-size: 20px;
    display: none;
    font-weight: bold;
  }
.op3{
    font-size: 20px;
    display: none;
    font-weight: bold;
  }
.content{
      padding: 5px;
}
.content-head{
  display: inline-flex;
}
.more{
  float: right;
}
footer{
    display: inline-block;
    height: auto;
    width: 100vw;
    background: rgb(219, 160, 32);
}
.foot{
    padding-top: 20px;
}
button{
  width: 15vw;
  height: 5vw;
  margin: 20px;
}
.dept{
text-justify: center;
}
.cont{
  border: 0.5px solid  black;
  border-radius: 5px;
  width: 100px;
  padding:3px;
  margin: 4px;
}
#cont-img{
  border-radius: 5px;
}
.container{
  display: inline-flex;
}
h5{
  text-align: center;
}
button{
  width: 20vw;
  height: 10vw;
 border-radius: 5px;
  outline: none;
  border: none;
  font-weight: bold;
  background: rgb(228, 181, 80);
  margin: 7vw;
}
.dept-list{
  display: inline-flex;
  margin: auto;
}
.more{
  float: right;
  padding: 5px;
}
.cont-header{
  display: block;
}
.main-cont{
  border: 1px solid black;
  margin: 20px;
  border-radius: 5px;
}
.dd{
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
}
.info{
  display: block;
}
.designer{
  padding-top: 10px;
  margin: 20px; 
  border-top: 1px solid black; 
}
.sicon{
  width: 5vw;
  height: 5vw;
  margin: 10px;
  margin-bottom: 1px;
}
.gmap{
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw; 
  margin-bottom: 20px;
  margin-top: 20px;
  height: 20vw;
  border: 1px solid black;
  border-radius: 5px;
}
.cont:hover{
  opacity: 0.4;
}
@media screen and (min-width: 620px)
{
  #cont-img{
    height: 29vw;
    width: 29vw;
  }
  .cont{
    border: 0.5px solid  black;
    border-radius: 5px;
    width: auto;
    padding:10px;
    margin: 10px;
  }
  button{
    height: 5vw;
    margin-top: 10px;
  }
  .sicon{
    width: 3vw;
    height: 3vw;;
  }
}
